.introduction
{
    display: grid;
    grid-template-columns: 0rem minmax(min-content,1fr) minmax(min-content,70rem) minmax(min-content,1fr) 0rem;

    &__text
    {
        grid-column: 3 / 4;
        text-indent: 3.5rem;
    }
}

.activities
{
    grid-column: 1 / -1;
    background-image: linear-gradient(to right, rgba(#000,.7), rgba(#000,.7)) ,url('../img/adventure-backlit-community-207896.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: 50vh;

    &__heading
    {
        @include fluid-type(20px, 42px);
        @include abs-center;
    }
}

.activity
{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 70rem) minmax(1rem, 1fr);
    grid-gap: 3rem;
    padding: 3rem;

    &__box
    {
        grid-column: 2 / 3;
        background-color: #fff;
        border-radius: 3px;
        padding-bottom: 4rem;
        overflow: hidden;
        box-shadow: 0 2rem 4rem rgba(#000,.3);
        transition: all .2s;

        &--img
        {
            width: 100%;
        }

        &--title
        {
            display: block;
            text-align: center;
            padding: 2rem;
            @include fluid-type(16px, 32px);
            text-transform: uppercase;
        }

        &--date
        {
            display: block;
            padding: 0 2rem;
            text-align: right;
            color: #3e3e3e;
        }

        &--description
        {
            display: block;
            padding: 3rem;
            text-align: justify;
        }

        &--place
        {
            display: block;
            padding: 0 3rem;
        }

        &:hover
        {
            transform: scale(1.3);
            box-shadow: 0 4rem 8rem rgba(#000,.2);
            z-index: 10;
        }
    }
}
.camps
{
    background-image: linear-gradient(to right, rgba(#000,.7), rgba(#000,.7)) ,url('../img/daylight-forest-glossy-443446.jpg');
}

.workshop
{
    background-image: linear-gradient(to right, rgba(#000,.7), rgba(#000,.7)) ,url('../img/adults-analysis-brainstorming-1661004.jpg');
}

.loading-div
{
    grid-column: 2 / 3;
    align-self: center;
    justify-self: center;

    &>span
    {
        display: block;
        text-align: center;
        padding: 2rem
    }
}